{% extends 'index.html' %} {% block content %}
<div class="container mt-5">
  <div class="d-none d-md-block pt-5">
    <div class="row">
      {% for menu_item in menu_item_list %}
          {% include 'menu_card/_menu_card.html' with menu_item=menu_item %}
      {% endfor %}
    </div>
  </div>

  <div class="d-block d-md-none pt-5">
    {% for menu_item in menu_item_list %}
        {% include 'menu_card/_menu_card_mobile.html' with menu_item=menu_item %}
    {% endfor %}
  </div>
</div>
{% endblock %}
